<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057078833902-1rmbm0pnarhi8fqv20j413k3fat22k8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057078833902-1rmbm0pnarhi8fqv20j413k3fat22k8i</string>
	<key>API_KEY</key>
	<string>AIzaSyD_1qUoJQqNAj84sut_TO0Kgq1FGSmdhoY</string>
	<key>GCM_SENDER_ID</key>
	<string>1057078833902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleMbtiStore</string>
	<key>PROJECT_ID</key>
	<string>mbti-com</string>
	<key>STORAGE_BUCKET</key>
	<string>mbti-com.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057078833902:ios:2c4e71e920578774f839ff</string>
</dict>
</plist>